.ajax-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  /* border-top: 16px solid #f7931e;
    border-bottom: 16px solid #f7931e;
    border-radius: 50%; */
  width: 150px;
  height: 150px;
  /* animation: spin 2s linear infinite; */
  /*z-index: 999999 !important;*/
  background: rgba(255, 255, 255, 0.8)
    url("../assets/ajax-loader.gif")
    50% 50% no-repeat;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ajax-modal {
  position: fixed;
  z-index: 999999 !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.8;
}

.ajax-center {
  z-index: 999999 !important;
  margin: 250px auto;
  padding: 10px;
  background-color: White;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}
