.bg-grey{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
}

.bg-contact {
    background-image: url("../assets/home/Contact us/Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bg-grey-form{
    background: rgba(62, 79, 89, 0.50);
    border-radius: 4px;
}

.hidden-iframe {
    visibility: hidden;
    height: 1px;
}