@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.btn-black {
    background-color: #3E4F59 !important;
}

.bg-footer{
    background: rgba(62, 79, 89);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    text-decoration-line: underline;
    font-weight: 500;
}