@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.btn-black {
    background-color: #3E4F59 !important;
}

.bgBanner {
    background-image: url("./assets/home/home-banner.svg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.our-border::before {
    position: absolute;
    width: 2px;
    left: 52%;
    transform: translate(-50%, -20%);
    top: 38%;
    height: 30%;
    background-color: #575757;
    opacity: 0.25;
    content: "";
}

.text-border {
    width: 50%;
    height: 1px; 
    position: relative; 
    background: #3E4F59;
    opacity: 0.25;
}